<div class="card" style="border-radius: 0;">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-1 m-0 p-0">
                <a href="PAGINA DE TIENDA FERNANDO"><img class=" shop-icon rounded-circle img-thumbnail w-100" src="/assets/images/AchoM2.png" title="Tienda FERNANDO" alt="Tienda FERNANDO"></a>
            </div>
            <div class="col-7">Fernando Dios del Pichipí</div>
            <div class="col-4">
                <img src="assets/icons/star-fill.svg">
        <img src="assets/icons/star.svg">
        <img src="assets/icons/star.svg">
        <img src="assets/icons/star.svg">
        <img src="assets/icons/star.svg">
            </div>
        </div>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Lo vi, lo hice y lo entendí.</p>
      </blockquote>
    </div>
</div>