<div class="card">
    <div class="card-header">
        <img src="assets/icons/star-fill.svg">
        <img src="assets/icons/star.svg">
        <img src="assets/icons/star.svg">
        <img src="assets/icons/star.svg">
        <img src="assets/icons/star.svg">
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Lo vi, lo hice y lo entendí.</p>
        <footer class="blockquote"><div class="row align-items-center">
            <div class="col-2" style="margin:0; padding:0;">
                <a href="PAGINA DE TIENDA FERNANDO"><img class="float-right shop-icon rounded-circle img-thumbnail w-50" src="/assets/Images/limon-eco.jpg" title="Tienda FERNANDO" alt="Tienda FERNANDO"></a>
            </div>
            <div class="col-10 blockquote-footer">Fernando Dios del Pichipí</div>
        </div>
    </footer>
      </blockquote>
    </div>
  </div>