<section class="container-fluid m-0 p-0">
    <div class="featured-product product  container-fluid mt-0 pt-0">
        <div class="section-header row align-items-end pl-5 w-100 mx-0">
            <div class="col-2 col-lg-1 p-0">
                <img class="float-right shop-icon rounded-circle img-thumbnail w-50" src="/assets/images/limon-eco.jpg" title="Tienda FERNANDO" alt="Tienda FERNANDO">
            </div>
            <div class="col-10 col-lg-11"><h2 class="row ">&nbsp;Mi cuenta</h2></div>
        </div>
    </div>
    <!-- My Account Start -->
    <div class="my-account pb-5 container-xl">
        <div class="row">
            <div class="col-md-4">
                <div class="nav  card flex-column nav-pills p-0 m-0" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i class="bi bi-person-fill"></i>Detalles de cuenta</a>
                    <a class="nav-link" id="security-nav" data-toggle="pill" href="#security-tab" role="tab"><i class="bi bi-shield-lock-fill"></i>Seguridad de cuenta</a>
                    <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="bi bi-cart-check-fill"></i>Pedidos</a>
                    <a class="nav-link" id="history-nav" data-toggle="pill" href="#history-tab" role="tab"><i class="bi bi-clock-history"></i>Historial de compras</a>
                    <a class="nav-link" id="wish-nav" data-toggle="pill" href="#wish-tab" role="tab"><i class="bi bi-bookmark-heart-fill"></i>Lista de deseos</a>
                    <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab"><i class="bi bi-credit-card-fill"></i>Método de pago</a>
                    <a class="nav-link" href="index.html"><i class="bi bi-box-arrow-right"></i>Cerrar sesión</a>
                </div>
            </div>
            <div class="col-md-8"> 
                <div class="tab-content card">
                    <div class="tab-pane fade show active" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Detalles de cuenta</h4>
                        <form class="row needs-validation" (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="detailsForm" novalidate>
                            <div class="col-md-12">
                                <input class="form-control" name="name" id="name" formControlName="name" type="text" placeholder="Nombre">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" name="tlf" id="tlf" formControlName="tlf" type="text" placeholder="Teléfono">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" name="email" id="email" formControlName="email" type="email" placeholder="Email">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" name="address" id="address" formControlName="address" type="text" placeholder="Dirección">
                            </div>
                            <div class="col-md-12">
                                <!-- <input type="button" class="btn btn-primary mr-2" (click)="edit()" value="Editar"> -->
                                <button type="button" class="btn mr-2" [ngClass]="[editDetails ? 'btn-danger' : 'btn-primary']" (click)="edit()">
                                    <span *ngIf="editDetails">Cancelar</span>
                                    <span *ngIf="!editDetails">Editar</span>
                                </button>
                                <input *ngIf="editDetails" type="submit" class="btn btn-success" value="Actualizar">
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="security-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Cambiar contraseña</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" type="password" placeholder="Contraseña actual">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="text" placeholder="Nueva contraseña">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="text" placeholder="Confirmar contraseña">
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary" type="button">Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Producto</th>
                                        <th>Fecha</th>
                                        <th>Precio</th>
                                        <th>Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Producto Nombre</td>
                                        <td>01 Jan 2020</td>
                                        <td>$99</td>
                                        <td>En camino</td>
                                        <td><button class="btn">Ver</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="history-tab" role="tabpanel" aria-labelledby="orders-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Producto</th>
                                        <th>Fecha</th>
                                        <th>Precio</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Producto Comprado</td>
                                        <td>01 Jan 2020</td>
                                        <td>$99</td>
                                        <td><button class="btn">Ver</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="wish-tab" role="tabpanel" aria-labelledby="orders-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Producto Deseado</td>
                                        <td>$99</td>
                                        <td><button class="btn">Ver</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                        <h4>Payment Method</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Account End -->
</section>    
  