<section class="container-fluid m-0 p-0">
    <article class="featured-product product">
        <div class="section-header pl-5 row w-100">
            <h1 class="col-12 col-lg-9">{{title}}</h1>
            <form class="col-12 col-lg-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label  w-100"for="orderAllProducts">Ordenar</label>
                    <select #order class="col-6 col-md-4 col-lg-8 form-control w-100" 
                    id="orderAllProducts" (change)="resultsOrder(order)">
                        <option value="reciente">Más recientes</option>
                        <option value="antiguo">Más antiguo</option>
                        <option *ngIf="search.type == 'Producto'" value="mejor">Mejor valorados</option>
                        <option *ngIf="search.type == 'Producto'" value="peor">Peor valorados</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="row container-fluid mx-auto p-0">
            <div class="col-12 col-lg-3 my-2  px-auto pb-4">
               <app-search-sidebar [type]="search.type" [categoryId]="categoryId" (priceChangeEvent)="updatePriceFilter($event)" (rateChangeEvent)="updateRateFilter($event)" (subcategoryChangeEvent)="updateSubcategoryFilter($event)"></app-search-sidebar>
            </div>
            <app-error500 *ngIf="error" class="col-12 col-lg-9"></app-error500>
            <app-loading-screen *ngIf="loading && !error" class="col-12 col-lg-9"></app-loading-screen>
             <div *ngIf="search.type == 'Producto'" class="search-results col-12 col-lg-9 row row-cols-2 row-cols-md-3 row-cols-lg-4 mx-auto px-auto"
                infinite-scroll
                [infiniteScrollDistance]="scrollDistance"
                [infiniteScrollThrottle]="throttle"
                (scrolled)="onScrollDown()">
                        <app-product-card  *ngFor="let result of results" [product]="result" class="my-1"></app-product-card>
               
            </div>
            <div *ngIf="search.type == 'Tienda'" class="search-results col-12 col-lg-9 row row-cols-1 row-cols-lg-2 mx-auto px-auto"
                infinite-scroll
                [infiniteScrollDistance]="scrollDistance"
                [infiniteScrollThrottle]="throttle"
                (scrolled)="onScrollDown()">
                <app-shop-card *ngFor="let result of results " [shop]="result" class="my-1"></app-shop-card>
               
            </div>  
        </div>
    </article>
</section>