<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand order-1 order-md-1" routerLink="home"><span class="h1">Ach<img src="/assets/images/ach-yellow.png" width="35px" alt="Logo Minimalista de Acho Market"> Market</span></a>
    <form class="form-inline my-2 my-md-0 mx-2 order-3 order-md-2">
        <app-form-search></app-form-search>
    </form>
    <div class="collapse navbar-collapse order-4 order-md-3 mr-auto" id="collapseBlock">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/busqueda" [queryParams]="{filter: 'Tienda'}"> Nuestras tiendas</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="btn btn-secondary" (click)="randomize()"><i class="bi bi-dice-3"></i></a>
        </li>

      </ul>
    </div>
    <div class="navbar-nav order-2 order-md-4 d-flex flex-row flex-nowrap align-items-center">
      <ng-template #loggedOut>
        <div class="nav-item">
          <a class="nav-link text-light" class="btn btn-secondary" routerLink="/login">Iniciar sesión</a>
        </div>
      </ng-template>
      <div class="nav-item dropdown" *ngIf="authorized.shop || authorized.customer; else loggedOut" style="z-index:1;">
        <a class="nav-link dropdown-toggle text-light clickable" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img *ngIf="!profile_img" src="/assets/images/limon-eco.jpg" class="rounded-circle"width="28px">
          <img *ngIf="profile_img" [src]="profile_img" class="rounded-circle"width="28px">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" style="position:absolute; z-index:2">
          <a *ngIf="authorized.customer" class="dropdown-item" routerLink="/mi-usuario">Mi Usuario</a>
          <a *ngIf="authorized.shop" class="dropdown-item" routerLink="/tienda/{{shop_id}}">Mi Tienda</a>
          <a *ngIf="authorized.shop" class="dropdown-item" routerLink="/administrar-tienda">Administrar tienda</a>
          <a *ngIf="authorized.customer" class="dropdown-item" routerLink="/404">Lista de deseos <i class="bi bi-bookmark-heart"></i></a>
          <button class="dropdown-item clickable" routerLink="/logout" (click)="logout()">Cerrar sesión <i class="bi bi-box-arrow-right"></i></button>
        </div>
      </div>
      <div *ngIf="authorized.customer" class="nav-item dropdown">
        <a class="nav-link btn btn-secondary" data-toggle="collapse" href="#collapseCart" role="button" aria-expanded="false" aria-controls="collapseCart"><i class="bi bi-cart text-light"></i></a>
      </div>
    </div>
  </nav>
  <div class="collapse my-4" id="collapseCart">
    <app-cart></app-cart>
  </div>
 