<!-- NAV DEVELOPER -->
<div class="text-white bg-dark">
    &nbsp;<a routerLink="/home" routerLinkActive="active">Home</a>
    &nbsp;<a routerLink="/busqueda" routerLinkActive="active">Búsqueda</a>
    &nbsp;<a routerLink="/cliente" routerLinkActive="active">Mi usuario</a>
    &nbsp;<a routerLink="/registro" routerLinkActive="active">Registrarse</a>
    &nbsp;<a routerLink="/producto/1" routerLinkActive="active">Producto</a>
    &nbsp;<a routerLink="/tienda/1" routerLinkActive="active">Tienda</a>
    &nbsp;<a routerLink="/informar" routerLinkActive="active">Informar</a>
    &nbsp;<a routerLink="/about-us" routerLinkActive="active">About us</a>
    &nbsp;<a routerLink="/faq" routerLinkActive="active">FAQ</a>
    &nbsp;<a routerLink="/terminos" routerLinkActive="active">Terminos</a>
    &nbsp;<a routerLink="/contacto" routerLinkActive="active">Contacto</a>
    &nbsp;<a routerLink="/registroprod" routerLinkActive="active">Registrar-producto</a>
    &nbsp;<a routerLink="/login" routerLinkActive="active">LOG IN</a>
    &nbsp;<a routerLink="/un-happymeal-con-fanta-de-naranja-por-favor" routerLinkActive="active">404</a>
</div>
<!-- NAV DEVELOPER -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand order-1 order-md-1" routerLink="home"><span class="h1">Ach<img src="/assets/images/ach-yellow.png" width="35px" alt="Logo Minimalista de Acho Market"> Market</span></a>
    
    
    <form class="form-inline my-2 my-md-0 mx-2 order-3 order-md-2">
        <app-form-search></app-form-search>
      <!-- <input class="form-control" type="text" placeholder="Search"> -->
    </form>
    <div class="collapse navbar-collapse order-4 order-md-3 mr-auto" id="collapseBlock">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/busqueda" [queryParams]="{filter: 'Tienda'}">Tiendas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="#">Lista de deseos <i class="bi bi-heart"></i></a>
            <a class="dropdown-item" href="#">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="navbar-nav order-2 order-md-4 d-flex flex-row flex-nowrap">
        <button class="navbar-toggler mr-1 p-0" type="button" data-toggle="collapse" data-target="#collapseBlock" aria-controls="collapseBlock" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="nav-item dropdown">
        <a class="nav-link" data-toggle="collapse" href="#collapseCart" role="button" aria-expanded="false" aria-controls="collapseCart"><i class="bi bi-cart text-light"></i></a>
      </div>
    </div>
  </nav>
 
  <div class="collapse mt-4" id="collapseCart">
    <app-cart></app-cart>
  </div>