<div class="text-white bg-dark">
    &nbsp;<a routerLink="/home" routerLinkActive="active">Home</a>
    &nbsp;<a routerLink="/buscar" routerLinkActive="active">Búsqueda</a>
    &nbsp;<a routerLink="/cliente" routerLinkActive="active">Mi usuario</a>
    &nbsp;<a routerLink="/registro" routerLinkActive="active">Registrarse</a>
    &nbsp;<a routerLink="/producto" routerLinkActive="active">Producto</a>
    &nbsp;<a routerLink="/tienda" routerLinkActive="active">Tienda</a>
    &nbsp;<a routerLink="/informar" routerLinkActive="active">Informar</a>
    &nbsp;<a routerLink="/about-us" routerLinkActive="active">About us</a>
    &nbsp;<a routerLink="/faq" routerLinkActive="active">FAQ</a>
    &nbsp;<a routerLink="/terminos" routerLinkActive="active">Terminos</a>
    &nbsp;<a routerLink="/contacto" routerLinkActive="active">Contacto</a>
    &nbsp;<a routerLink="/registroprod" routerLinkActive="active">Registrar-producto</a>
    &nbsp;<a routerLink="/un-happymeal-con-fanta-de-naranja-por-favor" routerLinkActive="active">404</a>
</div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="row m-0 p-0">
        <div class="navbar-brand col-12 col-md-3 m-0 p-0" routerLink="/home">
            <img src="assets/images/LogoAM.png" class="w-100">
        </div>
            <form class="form-group row col-8 col-md-5 m-0 p-0">
                <div class="col-4 w-100 mr-0 pr-0">
                    <select class="form-control-lg w-100 radius-0 border-0 bg-light"id="orderBy">
                        <option value="NULL">Filtrar</option>
                        <option value="tienda">Tiendas</option>
                        <option value="producto">Productos</option>
                        <option value="categoría">Categorías</option>
                    </select>
                </div>
                <div class="col-6 col-lg-7 w-100 ml-0 mx-0 px-0">
                    <input class="form-control-lg w-100 radius-0 border-0" type="search" placeholder="Búsqueda">
                </div>
                <div class="col-2 col-lg-1 mx-0 px-0">
                    <button class="form-control-lg w-100 radius-0 border-0" type="button"><img src="assets/icons/search.svg"></button>
                </div>
              </form>
        <!-- <div class="col-8 col-md-5 m-0 p-0 pruebas2 ">
            <form class="form-group w-100 pruebas1 m-0 p-0 row ">
                <div class="input-group row m-0 p-0 ">
                        <select class=" input-group-prepend col-4 m-0 p-0 form-control radius-r0" id="filterSearch" required>
                            <option value="1">Productos</option>
                            <option value="2">Tiendas</option>
                            <option value="3">Ordenadores</option>
                            <option value="4">Móviles</option>
                        </select>
                        <input type="search" class="form-control radius-0 col-6 m-0 p-0" placeholder="Buscar">
                        <button class="input-group-append col-2 m-0 p-0 btn btn-outline-secondary form-control" type="button"><img src="assets/icons/search.svg"></button>
                </div>
            </form>
        </div> -->
        <div class="col-2 col-md-3">
            <button class="navbar-toggler form-control" type="button" data-toggle="collapse" data-target="#selectUser" aria-controls="selectUser" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="selectUser">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="#">Lista de deseos <img src="assets/icons/heart.svg"></a>
                            <a class="dropdown-item" href="#">Cerrar sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="navbar-nav col-2 col-md-1">
            <li class="nav-item w-100">
                <a class="nav-link btn btn-cart form-control" href="#"><img src="assets/icons/cart.svg"></a>
            </li>
        </ul>
    </div>
</nav>
 