
<div class="row" style="margin-bottom: 5px;">
<div class="col-4" style="text-align: center;">
    <img src="assets/images/limon-eco.jpg" width="70%">

</div>
<div style="text-align: center;" class="col-4">
<h1>ERROR 404</h1>
<p>La página a la que estás intentando acceder no existe. </p>
<br>
<a routerLink="/informar">Informar de un error</a>
</div>
<div class="col-4" style="text-align: center;">
<img src="assets/images/limon-eco.jpg" width="70%">
</div>
</div>
<!-- <div style="background-color: white;margin-left:auto;margin-right:auto;"> 
<img src="assets/images/lemoncortado.jpg" width="60%">
</div>
-->

