<section class="container-fluid">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-4" style="text-align: center;">
            <img src="assets/images/error500.png" class="w-100">
            <img src="assets/images/error500.png" class="w-100">
            <img src="assets/images/error500.png" class="w-100">
            
        </div>
        <div style="text-align: center;" class="col-4">
            <h1>ERROR 500</h1>
                <p>Ha fallado la conexión con el servidor, por favor compruebe su conexión o inténtelo más tarde.</p>
                <br>
                <a routerLink="/informar">Informar de un error</a>
        </div>
        <div class="col-4" style="text-align: center;">
            <img src="assets/images/error500.png" class="w-100">
            <img src="assets/images/error500.png" class="w-100">
            <img src="assets/images/error500.png" class="w-100">
        </div>
    </div>
</section>