<ng-container *ngIf="group.length">
<!--Carousel Wrapper-->
<div id="{{carouselId}}" class="carousel slide carousel-multi-item row" data-ride="carousel">
    <!--Slides-->
    <div class="col-1 align-self-center">
        <div class=" row justify-content-center">
            <a href="#{{carouselId}}" role="button" data-slide="prev">
                <img class="movement-icon" src="assets/icons/chevron-left.svg">
            </a>
        </div>
    </div>
    <div class="col-10">
    <div class="carousel-inner" role="listbox">
        
        <!--First slide-->
        <div class="carousel-item active">
            <div class="row m-0 p-0">
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[0]"></app-product-card>
                </div>
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[1]"></app-product-card>
                </div>
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[2]"></app-product-card>
                </div>
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[3]"></app-product-card>
                </div>
            </div>
        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">
            <div class="row m-0 p-0">
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[4]"></app-product-card>
                </div>
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[5]"></app-product-card>
                </div>
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[6]"></app-product-card>
                </div>
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[7]"></app-product-card>
                </div>
            </div>
        </div>
        <!--/.Second slide-->
        <div class="carousel-item">
            <div class="row m-0 p-0">
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[8]"></app-product-card>
                </div>
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[9]"></app-product-card>
                </div>
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[10]"></app-product-card>
                </div>
                <div class="col-6 col-md-3 m-auto p-0">
                    <app-product-card [product]="group[11]"></app-product-card>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--/.Slides-->

<div class="col-1 align-self-center ">
    <div class=" row justify-content-center">
        <a href="#{{carouselId}}" role="button" data-slide="next">
            <img class="movement-icon" src="assets/icons/chevron-right.svg">
        </a>
    </div>
</div>
</div>
<!--/.Carousel Wrapper-->
</ng-container>