<h5>Tu opinión importa</h5>
<p class="float-left mr-2">Valora este producto:</p>
<div class="form-check">
    <label for="star_1" class="form-check-label bi bi-star"></label>
    <input type="radio" id="star_1" name="vote" value="1" class="form-check-input d-none">
    <label for="star_2" class="form-check-label bi bi-star"></label>
    <input type="radio" id="star_2" name="vote" value="2" class="form-check-input d-none">
    <label for="star_3" class="form-check-label bi bi-star"></label>
    <input type="radio" id="star_3" name="vote" value="3" class="form-check-input d-none">
    <label for="star_4" class="form-check-label bi bi-star"></label>
    <input type="radio" id="star_4" name="vote" value="4" class="form-check-input d-none">
    <label for="star_5" class="form-check-label bi bi-star"></label>
    <input type="radio" id="star_5" name="vote" value="5" class="form-check-input d-none">
</div>
<textarea class="form-control"></textarea>
<input type="submit" value="Enviar" class="btn btn-primary w-25">