<section class="container-fluid d-flex justify-content-center">
    <div class="card col-12 col-md-8 col-lg-6 border-y-0 radius-0">
        <div class="card-body my-3">
            <form (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="loginForm" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control" required
                    formControlName="email">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control" required
                    formControlName="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,18}">
                </div>
                <button type="submit"  class="btn btn-primary" style="margin-top:5%;">Iniciar sesión</button>
            </form>
        </div>
    </div>
</section>