<section class="container-fluid m-0 p-0">
    <div class="featured-product product  container-fluid mt-0 pt-0">
        <div class="section-header row align-items-end pl-5 w-100 mx-0">
            <div class="col-3 col-sm-2 col-lg-1 p-0">
                <img *ngIf="user" class="float-right shop-icon rounded-circle w-100 col-12 col-lg-11" [src]="user.profile_img" title="{{user.name}} profile picture" alt="{{user.name}} profile picture">
            </div>
            <div class="col-10 col-lg-11"><h2 class="row ">&nbsp;Mi tienda: Administración</h2></div>
        </div>
    </div>
    <!-- My Account Start -->
    <div class="my-account pb-5 container-xl">
        <div class="row">
            <div class="col-md-4">
                <div class="nav  card flex-column nav-pills p-0 m-0" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="store-nav" data-toggle="pill" href="#store-tab" role="tab"><i class="bi bi-box-seam"></i>Mis productos</a>
                    <a class="nav-link" id="stats-nav" data-toggle="pill" href="#stats-tab" role="tab"><i class="bi bi-graph-up"></i>Mis estadísticas</a>
                    <a class="nav-link" id="shop-nav" data-toggle="pill" href="#shop-tab" role="tab"><i class="bi bi-shop"></i>Mi Tienda</a>
                    <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="bi bi-cart-check-fill"></i>Pedidos</a>
                    <a class="nav-link" id="history-nav" data-toggle="pill" href="#history-tab" role="tab"><i class="bi bi-clock-history"></i>Historial de ventas</a>
                    <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i class="bi bi-person-fill"></i>Mi cuenta</a>
                    <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab"><i class="bi bi-credit-card-fill"></i>Método de pago</a>
                    <a class="nav-link" id="security-nav" data-toggle="pill" href="#security-tab" role="tab"><i class="bi bi-shield-lock-fill"></i>Cambiar contraseña</a>
                    <a class="nav-link" routerLink="/logout" (click)="logout()"><i class="bi bi-box-arrow-right"></i>Cerrar sesión</a>
                </div>
            </div>
            <div class="col-md-8"> 
                <div class="tab-content card">
                    <div class="tab-pane fade show" id="shop-tab" role="tabpanel" aria-labelledby="shop-nav">
                        <h4>Mi Tienda</h4>
                        <p>Modifica los datos que se mostrarán del comercio:</p>
                        <form class="row needs-validation" (ngSubmit)="onSubmitShop()" #form="ngForm" [formGroup]="detailsFormShop" novalidate>
                            <div *ngIf="shopChanged" class="alert alert-success alert-dismissible fade show col-md-12" role="alert">
                                ¡Datos actualizados con éxito!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div *ngIf="shopNotChanged" class="alert alert-danger alert-dismissible fade show" role="alert">
                                No se han podido guardar los cambios, si el problema persiste <a routerLink="/informar">contacta con nosotros</a>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="col-md-12">
                                <label for="name">Nombre de mi tienda</label>
                                <input class="form-control" name="name" id="name" formControlName="name" type="text" required>
                                <div class="invalid-feedback mb-2" *ngIf="detailsFormShop.get('name').hasError('required')">
                                    Error, no has introducido el nombre de tu tienda
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="description">Descripción</label>
                                <textarea class="form-control" name="description" id="description" formControlName="description" type="text" required>
                                </textarea>
                                <div class="invalid-feedback mb-2" *ngIf="detailsFormShop.get('description').hasError('required')">
                                    Error, no has introducido la Descripción
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="address">Dirección</label>
                                <input class="form-control" name="address" id="address" formControlName="address" type="text" required>
                                <div class="invalid-feedback mb-2" *ngIf="detailsFormShop.get('address').hasError('required')">
                                    Error, no has introducido la dirección
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="address">Email</label>
                                <input class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email"
                                 id="emailShop" formControlName="email" type="email" required>
                                 <div class="invalid-feedback mb-2" *ngIf="detailsFormShop.get('email').hasError('required'); else emailBad">
                                    Error, no has introducido el email
                                  </div>
                                  <ng-template #emailBad>
                                    <div class="invalid-feedback mb-2" *ngIf="detailsFormShop.get('email').hasError('pattern');">
                                      Error, no has introducido el email correctamente
                                  </div>
                                  </ng-template>
                            </div>
                            <div class="col-md-12">
                                <label for="address">Teléfono</label>
                                <input class="form-control" pattern="^[9|8|7|6]\d{8}$" name="tlf" id="tlf" formControlName="tlf" type="tel" required>
                                <div class="invalid-feedback mb-2" *ngIf="detailsFormShop.get('tlf').hasError('required'); else telBad">
                                    Error, no has introducido el teléfono
                                  </div>
                                  <ng-template #telBad>
                                    <div class="invalid-feedback mb-2" *ngIf="detailsFormShop.get('tlf').hasError('pattern');">
                                      El teléfono debe tener 9 caracteres y empezar por 9, 8, 7, o 6
                                    </div>
                                  </ng-template>
                            </div>
                            <!-- <div class="col-md-12">
                                <label for="image">Añadir imagen: </label>
                                <input type="file" class="form-control-file" id="imageShop" name="image" formControlName="image" required (change)="fileShopChangeEvent($event)">
                                <image-cropper *ngIf="editDetailsShop"
                                    [imageChangedEvent]="imageShopChangedEvent"
                                    [maintainAspectRatio]="true"
                                    [aspectRatio]="1 / 1"
                                    format="png"
                                    (imageCropped)="imageShopCropped($event)"
                                ></image-cropper>
                                <div class="invalid-feedback" *ngIf="detailsForm.get('image').hasError('required')">
                                    Error, no has introducido la imagen
                                </div>
                            </div> -->
                            <div class="col-md-12">
                                <br *ngIf="!editDetailsShop">
                                <button type="button" class="btn mr-2" [ngClass]="[editDetailsShop ? 'btn-danger' : 'btn-primary']" (click)="editShop()">
                                    <span *ngIf="editDetailsShop">Cancelar</span>
                                    <span *ngIf="!editDetailsShop">Editar</span>
                                </button>
                                <input *ngIf="editDetailsShop" type="submit" class="btn btn-success" value="Actualizar">
                            </div>
                        </form>
                        <div class="mt-3">
                            <h4>Imágenes de la tienda</h4>
                            <form class="row needs-validation" (ngSubmit)="onSubmitPhoto()" #form="ngForm" [formGroup]="photoFormShop" novalidate>
                                <div *ngIf="photoUploaded" class="alert alert-success alert-dismissible fade show col-md-12" role="alert">
                                    ¡Imagen Subida con éxito!
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div *ngIf="photoNotUploaded" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    No se  ha podido subir la imagen, si el problema persiste <a routerLink="/informar">contacta con nosotros</a>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="col-md-12">
                                    <label for="imageShop">Añadir imagen: </label>
                                    <input type="file" class="form-control-file" id="imageShop" name="imageShop" formControlName="imageShop" required (change)="fileShopChangeEvent($event)">
                                    <image-cropper
                                        [imageChangedEvent]="imageShopChangedEvent"
                                        [maintainAspectRatio]="true"
                                        [aspectRatio]="1 / 1"
                                        format="png"
                                        (imageCropped)="imageShopCropped($event)"
                                    ></image-cropper>
                                    <div class="invalid-feedback" *ngIf="photoFormShop.get('imageShop').hasError('required')">
                                        Error, no has introducido la imagen
                                    </div>
                                </div>
                                <div class="col-md-12 my-2">
                                    <input type="submit" class="btn btn-primary" value="Subir">
                                </div>
                                <br>
                            </form>
                            <p>Las siguientes imágenes se muestran en tu tienda, puedes eliminarlas al clicar sobre el botón rojo indicado la Equis.</p>
                            <p>* La primera imagen se tendrá en cuenta como principal.</p>
                            <div *ngIf="images.length" class="row row-cols-2">
                                <div *ngFor="let image of images" class="card bg-light my-1 p-0">
                                    <div class="card border-0 m-0 p-0">
                                        <img class="card-img" [src]="image.image"  alt="Imagen de la tienda">
                                        <div class="card-img-overlay">
                                            <div class="float-right rounded rating" ><button class="btn btn-danger" (click)="imageDelete(image.id)"><i class="bi bi-x"></i></button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="stats-tab" role="tabpanel" aria-labelledby="stats-nav">
                        <h4>Estadísticas de la tienda</h4>
                        <p>Unos gráficos informativos de : pedidos en activo, pedidos hechos, productos con más venta, disponibilidad...</p>
                    </div>
                    <div class="tab-pane fade show active" id="store-tab" role="tabpanel" aria-labelledby="store-nav">
                        <h4>Mis Productos</h4>
                        <p>Total de productos en la tienda: {{totalProducts.length}}.</p>
                        <p class="text-center"><a routerLink="nuevo-producto" class="btn btn-success w-50">Añadir un nuevo producto &nbsp;&nbsp;&nbsp;<i class="bi bi-plus-square"></i></a></p>
                        <div class="container-xl"
                            infinite-scroll
                            [infiniteScrollDistance]="scrollDistance"
                            [infiniteScrollThrottle]="throttle"
                            (scrolled)="onScrollDown()">
                            <div *ngFor="let product of products" class="card">
                                <div class="row card-body m-0 p-1">
                                    <img *ngIf="product.product_image" class="col-2 col-lg-1 my-auto mx-0 p-0 border-right" [src]="product.product_image">
                                    <img *ngIf="!product.product_image" class="col-2 col-lg-1 my-auto mx-0 p-0 border-right" src="/assets/images/limon-eco.jpg">
                                    <h6 class="col-4 col-lg-6 my-auto mx-0 pl-1"><a routerLink="/producto/{{product.id}}">{{product.name}}</a></h6>
                                    <h6 class="col-3 my-auto mx-0 pl-1">{{product.price | currency:" "}} €</h6>
                                    <div class="col-1 col-lg-1 m-0 p-0 row align-items-center">
                                        <a routerLink="editar/producto/{{product.id}}" class="btn btn-primary col"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Detalles de cuenta administrador</h4>
                        <form class="row needs-validation" (ngSubmit)="onSubmitUserData()" #form="ngForm" [formGroup]="detailsForm" novalidate>
                            <div *ngIf="userChanged" class="alert alert-success alert-dismissible fade show col-md-12" role="alert">
                                ¡Datos actualizados con éxito!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div *ngIf="userNotChanged" class="alert alert-danger alert-dismissible fade show" role="alert">
                                No se han podido guardar los cambios, si el problema persiste <a routerLink="/informar">contacta con nosotros</a>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="col-md-12">
                                <label for="admin_name">Nombre</label>
                                <input class="form-control" name="admin_name" id="admin_name" formControlName="admin_name" type="text" required>
                                <div class="invalid-feedback mb-2" *ngIf="detailsForm.get('admin_name').hasError('required')">
                                    Error, no has introducido tu nombre 
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="nif">NIF</label>
                                <input class="form-control" name="nif" id="nif" formControlName="nif" type="text" 
                                pattern="(([X-Z]{1})([-]?)(\d{7})([-]?)([A-Z]{1}))|((\d{8})([-]?)([A-Z]{1}))" required>
                                <div class="invalid-feedback mb-2" *ngIf="detailsForm.get('nif').hasError('required'); else nifBad">
                                    Error, no has introducido el nif
                                  </div>
                                  <ng-template #nifBad>
                                  <div class="invalid-feedback mb-2" *ngIf="detailsForm.get('nif').hasError('pattern');">
                                    Error, no has introducido el nif correctamente
                                  </div>
                                  </ng-template>
                            </div>
                            <div class="col-md-12">
                                <label for="email">Email</label>
                                <input class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="email" formControlName="email" type="email" required>
                                <div class="invalid-feedback mb-2" *ngIf="detailsForm.get('email').hasError('required'); else emailBad2">
                                    Error, no has introducido el email
                                  </div>
                                  <ng-template #emailBad2>
                                    <div class="invalid-feedback mb-2" *ngIf="detailsForm.get('email').hasError('pattern');">
                                      Error, no has introducido el email correctamente
                                  </div>
                                  </ng-template>
                            </div>
                            <div class="col-md-12">
                                <label for="image">Cambia tu imagen de perfil</label>
                                <input type="file" class="form-control-file" id="image" name="image" multiple formControlName="image" (change)="fileUserChangeEvent($event)">
                                <image-cropper *ngIf="editDetails"
                                    [imageChangedEvent]="imageUserChangedEvent"
                                    [maintainAspectRatio]="true"
                                    [aspectRatio]="1 / 1"
                                    format="png"
                                    (imageCropped)="imageUserCropped($event)"
                                ></image-cropper>
                                <div class="invalid-feedback" *ngIf="detailsForm.get('image').hasError('required')">
                                    Error, no has introducido la imagen
                                </div>
                            </div>
                            <div class="col-md-12">
                                <br *ngIf="!editDetails">
                                <button type="button" class="btn mr-2" [ngClass]="[editDetails ? 'btn-danger' : 'btn-primary']" (click)="edit()">
                                    <span *ngIf="editDetails">Cancelar</span>
                                    <span *ngIf="!editDetails">Editar</span>
                                </button>
                                <input *ngIf="editDetails" type="submit" class="btn btn-success" value="Actualizar">
                            </div>
                            
                        </form>
                    </div>
                    <div class="tab-pane fade" id="security-tab" role="tabpanel" aria-labelledby="account-nav">
                        <app-form-update-password [admin]=true></app-form-update-password>
                    </div>
                    <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Producto</th>
                                        <th>Fecha</th>
                                        <th>Precio</th>
                                        <th>Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Producto Nombre</td>
                                        <td>01 Jan 2020</td>
                                        <td>$99</td>
                                        <td>En camino</td>
                                        <td><button class="btn">Ver</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="history-tab" role="tabpanel" aria-labelledby="history-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Producto</th>
                                        <th>Fecha</th>
                                        <th>Precio</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Producto Comprado</td>
                                        <td>01 Jan 2020</td>
                                        <td>$99</td>
                                        <td><button class="btn">Ver</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                        <h4>Payment Method</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Account End -->
</section>    
 