<div class="featured-product product  container-fluid mt-0 pt-0">
    <div class="section-header row align-items-end pl-5 w-100 mx-0 ">
        <h1>ERROR 401</h1>
    </div>
    <div class="card text-center mb-0 col-12 col-md-6 mx-auto my-3">
        <div class="card-body mt-4">
          <h2 class="card-title">Usted no está autorizado para acceder a esta página.</h2>
          <p class="card-text mt-4">Puedes probar a visitar nuestras <a routerLink="/busqueda" [queryParams]="{filter: 'Tienda'}">tiendas </a></p>
          <p class="card-text">También puedes explorar todos los <a routerLink="/busqueda" [queryParams]="{filter: 'Producto'}">productos</a> de la web</p>
          <p class="card-text">Visita nuestras <a href="https://www.instagram.com/achomarket_oficial/">redes</a> para estar al día de las últimas noticias</p>
          <p class="card-text">Si tienes dudas puedes revisar nuestro <a routerLink="/faq">F.A.Q.</a> para obtener respuestas</p>
          <p class="card-text">Si crees que se trata de un error siempre puedes contactar con nosotros en <a routerLink="/informar">Informar de un error</a></p>
          <a class="mb-0" routerLink="/home" class="btn btn-secondary">Volver a Inicio</a>
        </div>
    </div>
    <div class="text-center">
        <h3>Desde Ach<img class="align-center" alt="Logo Minimalista de Acho Market" src="/assets/images/ach-yellow.png" width="5%"> Market le damos las gracias por su paciencia</h3>
    </div> 
</div>



