<section class="container-fluid">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-4" style="text-align: center;">
            <img class="w-100" src="assets/images/401.png">

        </div>
        <div style="text-align: center;" class="col-4">
                <h1>ERROR 401</h1>
                <p>Unauthorized. </p>
                <br>
                <a routerLink="/informar">Informar de un error</a>
        </div>
            <div class="col-4" style="text-align: center;">
                <img class="w-100" src="assets/images/401.png">
        </div>
    </div>
</section>