<div class="card bg-light mb-2 mr-2 h-100">
    <img class="card-img" src="/assets/images/limon-eco.jpg" alt="Card image cap">
    <a routerLink="/producto/{{product.id}}"><div class="card-img-overlay ">
        <div class="float-right rounded rating" *ngIf="product.media_rating != 0">{{product.media_rating | number:'1.2-2'}} <img src="assets/icons/star-fill.svg"></div>
        <div class="col-3  m-0 p-0" >
            <a routerLink="/tienda/{{product.shop_id}}"><img class="shop-icon rounded-circle img-thumbnail" src="/assets/images/AchoM2.png" title="Tienda FERNANDO" alt="Tienda FERNANDO"></a>
        </div>
    </div></a>
    <div class="card-body row">
        <p class="col-12 "><a routerLink="/producto/{{product.id}}">{{product.name}}</a></p>
        <p class="col-12">{{product.price | currency:" "}} €</p>
        <p class="col-12" title="Añadir al carrito">
            <button type="button" class="btn w-100">
                <img src="assets/icons/cart-plus.svg" >
            </button>
        </p>
    </div>
</div>