<h4>Cambiar contraseña</h4>
<form class="needs-validation w-100" (ngSubmit)="onSubmitPass()" #form="ngForm" [formGroup]="passForm" novalidate>
    <div *ngIf="passChanged" class="alert alert-success alert-dismissible fade show" role="alert">
        ¡Contraseña actualizada con éxito!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="passNotChanged" class="alert alert-danger alert-dismissible fade show" role="alert">
        No se han podido guardar los cambios, si el problema persiste <a routerLink="/informar">contacta con nosotros</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <label for="oldPass">Contraseña actual</label>
    <input type="password" class="form-control" id="oldPass" name="oldPass" required
        formControlName="oldPass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,18}">
    <div class="invalid-feedback" *ngIf="passForm.get('oldPass').hasError('required'); else passBad">
        Error, debes introducir la contraseña
    </div>
    <ng-template #passBad>
        <div class="invalid-feedback" *ngIf="passForm.get('oldPass').hasError('pattern');else passGood">
        Error, debes introducir mayúsculas, minúsculas y números entre 8 y 18 carácteres
        </div>
    </ng-template>
    <ng-template #passGood>
        <div class="valid-feedback">
        El patrón de contraseña es correcto
        </div>
    </ng-template>
    <label for="newPass1">Nueva contraseña</label>
    <input type="password" class="form-control" id="newPass1" name="newPass1" required formControlName="newPass1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,18}">
    <div class="invalid-feedback" *ngIf="passForm.get('newPass1').hasError('required'); else passBad2" >
        Error, debes introducir la nueva contraseña
    </div>
    <ng-template #passBad2>
        <div class="invalid-feedback" *ngIf="passForm.get('newPass1').hasError('pattern'); else passGood2">
        Error, debes introducir mayúsculas, minúsculas y números entre 8 y 18 carácteres
        </div>
    </ng-template>
    <ng-template #passGood2>
        <div class="valid-feedback">
        El patrón de contraseña es correcto
        </div>
    </ng-template>
    <label for="newPass2">Repite la contraseña</label>
    <input type="password" class="form-control" id="newPass2" name="newPass2" required formControlName="newPass2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,18}">
    <div class="invalid-feedback" *ngIf="passForm.get('newPass2').hasError('required'); else passBad3" >
        Error, no has introducido la repetición de contraseña
    </div>
    <ng-template #passBad3>
        <div class="invalid-feedback" *ngIf="passForm.get('newPass2').hasError('pattern'); else passGood3">
        Error, debes introducir mayúsculas, minúsculas y números entre 8 y 18 carácteres
        </div>
    </ng-template>
    <ng-template #passGood3>
        <div class="valid-feedback">
        El patrón de contraseña es correcto
        </div>
    </ng-template>
    <div  *ngIf="!(this.passForm.get('newPass1').value==this.passForm.get('newPass2').value)">
        <small style="color:#E05555">Las contraseñas no coinciden</small>
    </div>
    <p class="form-text text-muted"><small>No compartas tu contraseña con terceros.</small></p>
    <input type="submit" class="btn btn-primary" value="Guardar cambios">
</form>