<div class="my-account featured-product product">
    <div class="section-header container-fluid pl-5">
        <div class="row align-items-end"> 
            <div class="col-12"><h1 class="row ">&nbsp;Éxito de Registro</h1></div>
        </div>
        
    </div>
    </div>


<div  class="container-lg d-flex flex-column justify-content-center">
    <h3 class="mx-auto">¡Su usuario ha sido registrado correctamente! </h3>
    <p>Para poder acceder a su cuenta, le hemos enviado un correo de verificación a su email, verifique su cuenta y podrá comenzar sus compras en AchoMarket.</p>
    <a class="mx-auto" routerLink="/home"><h3>Volver al inicio </h3></a>
    <img class="w-25 mx-auto" src="/assets/images/ach.png">
</div>
