<section class="container-fluid m-0 p-0">
<div class="my-account featured-product product container-fluid mt-0 pt-0">
    <div class="section-header container-fluid pl-5">
        <div class="row align-items-end"> 
            <div class="col-12"><h1 class="row ">&nbsp;Términos y condiciones</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-12 text">
        <p>Para que usted pueda tener una buena experiencia utilizando nuestra web, debe leer detenidamente las condiciones previas que Acho Market le ofrece.
        Al acceder y utilizar nuestros servicios, asumimos que aceptas los términos y condiciones al completo. No continues utilizando Acho Market si no aceptas todos los términos y condiciones
        establecidos en esta página.</p>
        <h5>Privacidad</h5>
        <p>Acho Market garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de
        requerir una validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.
        La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al momento de crear su cuenta.
        Acho Market se reserva los derechos de cambiar o de modificar estos términos sin previo aviso. </p>
        <h5>Compras</h5>
        <p>Todos los productos que son ofrecidos por nuestro sitio web pudieran ser creados, cobrados, enviados o presentados por una página web tercera y
            en tal caso estarían sujetas a sus propios Términos y Condiciones. Para adquirir un producto, será necesario el registro por parte del usuario, con ingreso
            de datos personales fidedignos y definición de una contraseña. El usuario puede elegir y cambiar la clave para su acceso de administración de la
            cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos. Acho Market no asume la
            responsabilidad en caso de que entregue dicha clave a terceros. Todas las compras y transacciones que se lleven a cabo por medio de este sitio web,
            están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago,
            validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se
            requiera una verificación por medio de correo electrónico. 
        </p>
        <h5>Comprobación antifraude</h5>
        <p>La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar
        transacciones fraudulentas.</p>
        <h5>Garantía</h5>
        <p>En el caso de productos que sean mercancías irrevocables no-tangibles, no realizamos reembolsos después de que se envíe el producto, usted tiene la
        responsabilidad de entender las características antes de comprarlo. Le pedimos que lea cuidadosamente la descripción antes de comprarlo. Solo se hacen excepciones de
        esta regla cuando la descripción no se ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso, pero
        este será especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas de fábrica y solo se hará efectiva cuando el producto se haya usado
        correctamente. La garantía no cubre averías o daños ocasionados por uso indebido. Los términos de la garantía están asociados a fallas de fabricación y funcionamiento en condiciones
        normales de los productos y sólo se harán efectivos estos términos si el equipo ha sido usado correctamente. Esto incluye:</p>
        <ul>
        <li>De acuerdo a las especificaciones técnicas indicadas para cada producto.</li>
        <li>En condiciones ambientales acordes con las especificaciones indicadas por el fabricante.</li>
        <li>En uso específico para la función con que fue diseñado de fábrica.</li>
        <li>En condiciones de operación eléctricas acordes con las especificaciones tolerancias indicadas. </li>
        </ul>

        <h5>Cookies</h5>
        <p>Empleamos el uso de cookies. Al utilizar Acho Market, usted acepta el uso de cookies de acuerdo con la política de privacidad de Acho Market. La mayoría de los modernos sitios web interactivos de hoy en día usan cookies para permitirnos recuperar los detalles del usuario para cada visita.
        Las cookies se utilizan en algunas áreas de nuestro sitio para habilitar la funcionalidad de esta área y la facilidad de uso para las personas que lo visitan.</p>
        
        <h5>Licencia</h5>
        <p>Esta web está bajo la licencia <a href="https://creativecommons.org/licenses/by/4.0/deed.es">Atribución 4.0 Internacional (CC BY 4.0) </a>. Con la atribución necesaria de Acho Market, usted es libre de: </p>
        <ul>
            <li>Compartir: copiar y redistribuir el material en cualquier medio o formato.</li>
            <li>Adaptar: remezclar, transformar y construir a partir del material para cualquier propósito, incluso comercialmente.</li>
        </ul>
        <p>El logo de la web es una edición del icono original de <a href="https://icon-icons.com/es/icono/lim%C3%B3n/126273">Selman Icons</a> con atribución CC BY</p>
        <p>Todas los iconos de la web pertenecen a la biblioteca de bootstrap</p>
        <p>Las imágenes de las tiendas de muestra provienen de pexels y pixabay y todas son libres sin necesidad de atribución.</p>
        <p>También hay imágenes propias que comparten atribución con la página.</p>
    </div>
</div>
</section>