<section class="container-fluid d-flex justify-content-center">
  <!-- [ngClass]="{ 'collapse' : userFormValid }" -->
  <div  class="card col-12 col-md-8 col-lg-6 mx-0 px-0 my-5" >
    <div class="card-header text-center w-100 mx-0 px-0">
        <h3 class="my-2">Registro Producto</h3>
        <p>Conocer más sobre <a routerLink="/about-us">Acho Market</a>.</p>
    </div>
    <div class="card-body">
  <form  (ngSubmit)="onSubmit()" class="needs-validation" [formGroup]="productForm" novalidate>
    <div class="form-group">
        <label for="nombre">Nombre *</label>
        <input type="text" name="name" id="name" formControlName="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="nombre">Precio *</label>
        <input type="text" name="price" id="price" formControlName="price" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="nombre">Descuento </label>
        <input type="text" name="discount" id="discount" formControlName="discount" class="form-control">
      </div>
      <div class="form-group">
        <label for="nombre">Stock *</label>
        <input type="text" name="stock" id="stock" class="form-control" formControlName="stock" required>
      </div>
      <div class="form-group">
        <label for="nombre">Disponibilidad *</label>
        <input type="text" name="availability" id="availability" formControlName="availability" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="description">Descripción *</label>
        <textarea class="form-control" id="description" name="description" formControlName="description" rows="3" required></textarea>
      </div>
      <div class="form-group">
        <label for="images">Seleccione imagen de producto</label>
        <input type="file" class="form-control-file" id="images" required multiple>
      </div>
      <div class="form-group">
        <label for="categorias">Categoría y subcategoría  </label>
        <select  name="categorias" id="categorias" style="margin-left:5px;display:block;" required>
        <optgroup *ngFor="let category of categories;let i = index" label="{{category.name}}">
        <option *ngFor="let sub of this.subCategories[i]"  value="{{sub.name}}">{{sub.name}}</option> 
        </optgroup>
        </select>
      </div>
    <button type="submit" class="btn btn-primary" style="margin-top:5%;">Enviar</button>
    </form>
  </div>
</div>
<!-- <div *ngIf="userFormValid" class="card col-12 col-md-8 col-lg-6 mx-0 px-0 my-5">
  <div class="card-header text-center">
    <h3 class="my-2">Formulario enviado con éxito</h3>
  </div>
  <div class="card-body">
    <h4>Producto registrado correctamente</h4>
    <a routerLink="/home">Volver a mi cuenta</a>
    <div class="w-100 d-flex flex-column">
      <img class="w-25 mx-auto" src="/assets/images/ach.png">
    </div>
  </div>
</div> -->
</section>