<div class="my-account featured-product product">
    <div class="section-header container-fluid pl-5">
        <div class="row align-items-end">
            <div class="col-12"><h1 class="row ">&nbsp;Registrar producto</h1></div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center">
  <div class="card col-12 col-md-8 col-lg-6 ">
  <div class="card-body my-3">
  <form  (ngSubmit)="onSubmit()" class="needs-validation" [formGroup]="productForm" novalidate>
    <div class="form-group">
        <label for="nombre">Nombre *</label>
        <input type="text" name="name" id="name" formControlName="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="nombre">Precio *</label>
        <input type="text" name="price" id="price" formControlName="price" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="nombre">Descuento </label>
        <input type="text" name="discount" id="discount" formControlName="discount" class="form-control">
      </div>
      <div class="form-group">
        <label for="nombre">Stock *</label>
        <input type="text" name="stock" id="stock" class="form-control" formControlName="stock" required>
      </div>
      <div class="form-group">
        <label for="nombre">Disponibilidad *</label>
        <input type="text" name="availability" id="availability" formControlName="availability" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="description">Descripción *</label>
        <textarea class="form-control" id="description" name="description" formControlName="description" rows="3" required></textarea>
      </div>
      <div class="form-group">
        <label for="images">Seleccione imagen de producto</label>
        <input type="file" class="form-control-file" id="images" required multiple>
      </div>
      <div class="form-group">
        <label for="categorias">Categoría y subcategoría  </label>
        <select  name="categorias" id="categorias" style="margin-left:5px;display:block;" required>
        <optgroup *ngFor="let category of categories" label="{{category.name}}">
        <option *ngFor="let subcategory of subCategories" value="{{subcategory}}">{{subcategory}}</option> 
        </optgroup>

        <!-- <optgroup label="Zapatillas">
        <option value="deportivas">Deportivas</option>
        <option value="casual">Casual</option>
        </optgroup>
        <optgroup label="Ordenadores">
        <option value="portatiles">Portátiles</option>
        <option value="sobremesa">Sobremesa</option>
        </optgroup> -->
        </select>
      </div>
<div *ngFor="let subcategory of subCategories">subcategory {{subcategor}}</div>

    <button type="submit" class="btn btn-primary" style="margin-top:5%;">Enviar</button>
    </form>

    </div>
    </div>
    </div>
