<section class="container-fluid d-flex justify-content-center">
  <!-- [ngClass]="{ 'collapse' : userFormValid }" -->
  <div  class="card col-12 col-md-8 col-lg-6 mx-0 px-0 my-5" >
    <div class="card-header text-center w-100 mx-0 px-0">
        <h3 class="my-2">Registro Producto</h3>
        <p>Conocer más sobre <a routerLink="/about-us">Acho Market</a>.</p>
    </div>
    <div class="card-body">
  <form  (ngSubmit)="onSubmit()" class="needs-validation" [formGroup]="productForm" novalidate>
    <div class="form-group">
        <label for="nombre">Nombre *</label>
        <input type="text" pattern=".{3,50}" name="name" id="name" formControlName="name" class="form-control" required>
        <div class="invalid-feedback" *ngIf="productForm.get('name').hasError('required');else nameBad">
          Error, no has introducido el nombre
       </div>
       <ng-template #nameBad>
        <div class="invalid-feedback" *ngIf="productForm.get('name').hasError('pattern'); else nameGood">
          Error, no has introducido el patrón correctamente (Mínimo tres caracteres)
        </div>
        </ng-template>
        <ng-template #nameGood>
          <div class="valid-feedback">
            El patrón del nombre es correcto
          </div>
        </ng-template>
      </div>
      <div class="form-group">
        <label for="nombre">Precio (€)*</label>
        <input type="number" name="price" min="0" id="price" formControlName="price" class="form-control" step="0.01" required>
        <div class="invalid-feedback" *ngIf="productForm.get('price').hasError('required');else priceGood">
          Error, no has introducido el precio
       </div>
        <ng-template #priceGood>
          <div class="valid-feedback">
            El patrón del precio es correcto
          </div>
        </ng-template>
      </div>
      <div class="form-group">
        <label for="nombre">Descuento (%)</label>
        <input type="number" name="discount" id="discount" min="0" formControlName="discount" class="form-control">
        <ng-template #discountGood>
          <div class="valid-feedback">
            El patrón del descuento es correcto
          </div>
        </ng-template>
      </div>
      <div class="form-group">
        <label for="nombre">Stock *</label>
        <input type="number" name="stock" step="any" min="0" id="stock" class="form-control" formControlName="stock" required>
        <div class="invalid-feedback" *ngIf="productForm.get('stock').hasError('required');else stockGood">
          Error, no has introducido el stock
       </div>
        <ng-template #stockGood>
          <div class="valid-feedback">
            El patrón del stock es correcto
          </div>
        </ng-template>
      </div>
      <div class="form-group">
        <label for="nombre">Disponibilidad *</label>
        <input type="number" name="availability" step="any" min="0" id="availability" formControlName="availability" class="form-control" required>
        <div class="invalid-feedback" *ngIf="productForm.get('availability').hasError('required');else avGood">
          Error, no has introducido la disponibilidad
       </div>
        <ng-template #avGood>
          <div class="valid-feedback">
            El patrón de disponibilidad es correcto
          </div>
        </ng-template>
      </div>
      <div class="form-group">
        <label for="description">Descripción *</label>
        <textarea class="form-control" id="description" name="description" pattern="[\s\S]{1,999}" formControlName="description" rows="3" required></textarea>
        <div class="invalid-feedback" *ngIf="productForm.get('description').hasError('required')">
          Error, no has introducido la descripción
       </div>
      </div>
      <div class="form-group">
        <label for="image">Seleccione imagen de producto</label>
        <input type="file" class="form-control-file" id="image" name="image" multiple formControlName="image" required (change)="fileChangeEvent($event)">
        <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="1 / 1"
              format="png"
              (imageCropped)="imageCropped($event)"
          ></image-cropper>
        <div class="invalid-feedback" *ngIf="productForm.get('image').hasError('required')">
          Error, no has introducido la imagen del producto
       </div>
      </div>
      <div class="form-group">
        <label for="categorias">Categoría y subcategoría  </label>
        <select  class="custom-select col-md-7 d-block" name="subcategory_id" id="subcategory_id" required formControlName="subcategory_id">
        <optgroup *ngFor="let category of categories;let i = index" label="{{category.name}}">
        <option *ngFor="let sub of this.subCategories[i]"  value="{{sub.id}}">{{sub.name}}</option> 
        </optgroup>
        </select>
        <div class="invalid-feedback" *ngIf="productForm.get('subcategory_id').hasError('required')">
          Error, no has introducido la subcategoría
       </div>
      </div>
    <button type="submit" class="btn btn-primary" style="margin-top:5%;">Enviar</button>
    </form>
  </div>
</div>
<!-- <div *ngIf="userFormValid" class="card col-12 col-md-8 col-lg-6 mx-0 px-0 my-5">
  <div class="card-header text-center">
    <h3 class="my-2">Formulario enviado con éxito</h3>
  </div>
  <div class="card-body">
    <h4>Producto registrado correctamente</h4>
    <a routerLink="/home">Volver a mi cuenta</a>
    <div class="w-100 d-flex flex-column">
      <img class="w-25 mx-auto" src="/assets/images/ach.png">
    </div>
  </div>
</div> -->
</section>