<app-loading-screen *ngIf="loading"></app-loading-screen>
<app-error404 *ngIf="!loading && !product"></app-error404>
<ng-container *ngIf="product">
    <ng-container *ngIf="show">
        <app-photo-gallery (control)="toggleGallery($event)"></app-photo-gallery>
    </ng-container>
    <section class="container-fluid m-0 p-0">
        <div class="product">
        <div class="section-header container-fluid pl-5">
            <h1 class="row ">{{product.name}}</h1>
            <div class="row align-items-end">
                <div class="col-2 col-lg-1  m-0 p-0">
                    <a href="PAGINA DE TIENDA FERNANDO"><img class="float-right shop-icon rounded-circle img-thumbnail w-50" src="/assets/images/limon-eco.jpg" title="Tienda FERNANDO" alt="Tienda FERNANDO"></a>
                </div>
                <div class="col-10 col-lg-11 h3"><a href="LA-TIENDA-DE-FERNANDO">{{product.shop_id}}</a></div>
            </div>
        </div>
        </div>
        <div class="row" style="margin: auto 10%;">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 col-lg-11  m-0 p-0">
                        <div class="row" style="margin:0; padding:10px;">
                            
                            <img src="assets/images/limon-eco.jpg" class="m-0 p-0 w-100 clickable" (click) = toggleGallery(true)>
                        </div>
                        <div class="row m-0 p-0" >
                            <div class="col-4" style="margin:0; padding:10px;" >
                                    <img src="assets/images/AchoM2.png" class="w-100 m-0 p-0 clickable" (click) = chosePrincipal()>
                            </div>
                            <div class="col-4" style="margin:0; padding:10px;" >
                                <img src="assets/images/AchoM2.png" class="w-100 m-0 p-0 clickable" (click) = chosePrincipal()>
                            </div>
                            <div class="col-4" style="margin:0; padding:10px;" >
                                <img src="assets/images/AchoM2.png" class="w-100 m-0 p-0 clickable" (click) = chosePrincipal()>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-1  m-0 p-0">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 col-1-lg  m-0 p-0">
                    </div>
                    <div class="col-12 col-11-lg" style="margin:0;padding:10px;">
                        <div class="row">
                            <div class="col-6">
                                <span class="h3">{{product.price | currency: " "}}€</span>
                            </div>
                            <h2 class="col-6">
                                <button type="button" class="btn w-100">
                                    Añadir al carrito <i class="bi bi-cart-plus"></i>
                                </button>
                            </h2>
                        </div>
                        <h3>{{product.media_rating}}
                            <span>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star"></i>
                            </span>
                        </h3>
                        <h3>Descripción del producto</h3>
                        <p>{{product.description}}</p>
                        <p>Marca: {{product.tademark_id}}</p>
                        <p>Categoría: CATEGORIA</p>
                        <p>Subcategoría: {{product.subcategory_id}}</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container row" style="margin:0 auto;">
            <div class="col-12 col-md-8 align-items-center justify-content-center" style="margin: 0 auto">
                <h2>Añadir un comentario</h2>
                <p>Se verá</p>
                <div class="card" style="border-radius: 0;">
                    <div class="card-header">
                        <div class="row ">
                                <h2 class="col-12 col-md">Comentarios</h2>
                                <form>
                                    <div class="form-group row">
                                    <label for="orderByComment" class="col-sm-3 col-form-label">Ordenar</label>
                                    <div class="col-sm-9">
                                        <select class="form-control"id="orderByComment">
                                            <option value="reciente">Más recientes primero</option>
                                            <option value="antiguo">Más antiguo primero</option>
                                            <option value="mejor">Mejores valoraciones primero</option>
                                            <option value="peor">Peores valoraciones primero</option>
                                        </select>
                                    </div>
                                    </div>
                                </form>

                        </div>
                    </div>
                </div>
                <app-comment-card></app-comment-card>
                <app-comment-card></app-comment-card>
                <app-comment-card></app-comment-card>
            </div>
        </div>
        <br>
    </section>
</ng-container>