<div class="my-account featured-product product">
<div class="section-header container-fluid pl-5">
    <div class="row align-items-end"> 
        <div class="col-12"><h1 class="row ">&nbsp;Quiénes somos</h1></div>
        <div class="col-12" style="color:black;"><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
             irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
             Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
            <div class="col-12" style="color:black;"><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                 irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
            <div class="col-12" style="color:black;"><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                     irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
             </div>
    </div>
    
</div>
</div>
<div class="row align-items-end" style="text-align: center;">
    <div class="col-4"><img src="assets/Images/limon-eco.jpg" width="50%" style="border-radius: 100%;">
    <h5 style="margin:10px;">Francisco Costa</h5>
    <p>Descripción</p>
    </div>
    <div class="col-4"><img src="assets/Images/limon-eco.jpg" width="50%" style="border-radius: 100%;">
    <h5 style="margin:10px;">Ismael Caravaca</h5>
    <p>Descripción</p>
    </div>
    <div class="col-4"><img src="assets/Images/limon-eco.jpg" width="50%" style="border-radius: 100%;">
        <h5 style="margin:10px;">Bienvenido Carbonell</h5>
        <p>Descripción</p>
    </div>
</div>
