<section class="container-fluid m-0 p-0">
    <div class="my-account featured-product product mt-0 pt-0">
        <div class="section-header container-fluid pl-5">
            <div class="row"> 
                <div class="col-12"><h1>&nbsp;Quiénes somos</h1></div>
            </div>
        </div>
        </div>
        <div class="container"> 
        <div class="col-12 text">
            <h4>Nuestro equipo</h4>
            <p>El equipo de AchoMarket está formado por Ismael, Bienvenido y Francisco,
                 alumnos del ciclo de Desarrollo de Aplicaciones Web en el instituto I.E.S José Planes.
                 En este proyecto final hemos desarrollado un MarketPlace ideado para que el pequeño 
                 comercio murciano pueda tener facilidades para poder vender sus productos online.
                 En este proyecto cada miembro del equipo ha estado desarrollando una parte fundamental
                de la web.
            </p>
            <h5>Ismael Caravaca</h5>
            <p>La base de datos y el backend es su territorio.</p>
            <h5>Bienvenido Carbonell</h5>
            <p>
                Desarrollador de la validación de formularios.
            </p>
            <h5>Francisco Costa</h5>
            <p>Ha trabajado sobre la parte cliente. Es el culpable del logo.</p>
            </div>
        </div>
        <div class="text-center d-flex">
            <div class="col-4"><img src="/assets/images/devs/ismael.jpg"  alt="Imagen de Ismael Caravaca" class="about_us_image">
            <h5 class="m-3">Ismael Caravaca</h5>
            <p>Desarrollador entorno servidor</p>
            </div>
            <div class="col-4"><img src="/assets/images/devs/bcarb.jpg" alt="Imagen de Bienvenido Carbonell" class="about_us_image">
            <h5 class="m-3">Bienvenido Carbonell</h5>
            <p>Desarrollador de formularios en entorno cliente y estilos</p>
            </div>
            <div class="col-4"><img src="/assets/images/devs/fcostahe.jpeg" alt="Imagen de Francisco Costa" class="about_us_image">
            <h5 class="m-3">Francisco Costa</h5>
            <p>Desarrollador entorno cliente y estilos</p>
            </div>
        </div>
</section>
