<div class="my-account featured-product product mt-0 pt-0">
<div class="section-header container-fluid pl-5">
    <div class="row align-items-end"> 
        <div class="col-12"><h1 class="row ">&nbsp;Quiénes somos</h1></div>
    </div>
    
</div>
</div>
<div class="container"> 
<div class="col-12 text">
    <p>Somos alumnos de Desarrollo de Aplicaciones Web en el instituto I.E.S José Planes y en este proyecto final hemos desarrollado un MarketPlace pensado para que el 
        comercio murciano pueda tener facilidades para poder vender sus productos online. En este proyecto cada miembro del equipo ha estado desarrollando una parte fundamental
        de la web.
    </p>
    <h5>Francisco Costa</h5>
    <p>Lorem Ipsum</p>
    <h5>Ismael Caravaca</h5>
    <p>Lorem Ipsum</p>
    <h5>Bienvenido Carbonell</h5>
    <p>
        Principal desarrollador de los formularios y su validación, así como los estilos en los mensajes de error y de éxito. También la maquetación de 
        las páginas de mi cuenta y el footer, que están basadas en la plantilla: <a href="https://htmlcodex.com/ecommerce-html-template/">ecommerce-html-template</a> . También el desarrollo de 
        las páginas estáticas: Error 404, About Us, FAQ, Términos y Condiciones e Informar de un error.
    </p>
    </div>
</div>
<div class="row align-items-end" style="text-align: center;">
    <div class="col-4"><img src="/assets/images/devs/fcostahe.jpeg" alt="Imagen de Francisco Costa" class="about_us_image">
    <h5 class="m-3">Francisco Costa</h5>
    <p>Desarrollador entorno cliente y estilos</p>
    </div>
    <div class="col-4"><img src="assets/images/limon-eco.jpg"  alt="Imagen de Ismael Caravaca" class="about_us_image">
    <h5 class="m-3">Ismael Caravaca</h5>
    <p>Desarrollador entorno servidor</p>
    </div>
    <div class="col-4"><img src="assets/images/bcarb.jpg" alt="Imagen de Bienvenido Carbonell" class="about_us_image">
    <h5 class="m-3">Bienvenido Carbonell</h5>
    <p>Desarrollador de formularios en entorno cliente y estilos</p>
    </div>
</div>
