<article class="featured-product product">
    <div class="section-header pl-5 row">
        <h1 class="col-12 col-lg-9">Resultados de la búsqueda: "búsqueda"</h1>
        <form class="col-12 col-lg-3">
            <div class="form-group row m-0 p-0">
                <label class="col-3 col-form-label w-100 m-0 px-0"for="orderAllProducts">Ordenar</label>
                <select class="col-9 form-control btn w-100 m-0 px-0"id="orderAllProducts">
                    <option value="reciente">Más recientes primero</option>
                    <option value="antiguo">Más antiguo primero</option>
                    <option value="mejor">Mejores valoraciones primero</option>
                    <option value="peor">Peores valoraciones primero</option>
                </select>
            </div>
        </form>
    </div>
    <div class="row container-xl mx-auto p-0">
        <div class="col-12 col-lg-3 mx-auto px-auto pb-4">
            <form>
                <ul class="list-group form-group">
                <li class="list-group-item">
                    <h4>Filtros</h4>
                </li>
                <li class="list-group-item">
                    <h5>Subcategorías</h5>
                    <div class="pl-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="subcategory" value="tal" id="subc-1" checked>
                            <label class="form-check-label" for="subc-1">
                            Tal
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="subcategory" value="cual" id="subc-2" checked>
                            <label class="form-check-label" for="subc-2">
                            Cual
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="subcategory" value="pascual" id="subc-3" checked>
                            <label class="form-check-label" for="subc-3">
                            Pascual
                            </label>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h5>Rango de precios</h5>
                    <div class="form-row pl-3">
                        <div class="col-6">
                        <label for="minPrice">Desde: </label>
                        <input #minInput type="number" class="form-control" id="minPrice"  min="0" max="500" step="5" (change)="updateMin(minInput.value)">
                        </div>
                        <div class="col-6">
                            <label for="maxPrice">Hasta: </label>
                            <input #maxInput type="number" class="form-control"  id="maxPrice" min="0" max="500" step="5" (change)="updateMax(maxInput.value)">
                        </div>
                        <ngx-slider #rangeInput [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options" (valueChange)="updatePrice(minInput, maxInput)"
                            (highValueChange)="updatePrice(minInput, maxInput)"></ngx-slider>
                    </div>
                    </li>
                <li class="list-group-item">
                    <h5>Rango de valoraciones</h5>
                    <div class="form-row pl-3">
                        <div class="col-6">
                        <label for="minRating">Desde: </label>
                        <input #minRating type="number" class="form-control" id="minRating"  min="0" max="5" step="0.5">
                        </div>
                        <div class="col-6">
                            <label for="maxRating">Hasta: </label>
                            <input #maxRating type="number" class="form-control"  id="maxRating" min="0" max="5" step="0.5">
                        </div>
                    </div>                    
                </li>
              </ul>
            </form>
        </div>
        <div class="col-12 col-lg-9 row row-cols-2 row-cols-md-3 row-cols-lg-4 mx-auto px-auto">
            <div *ngIf="loading" class=" col-12 d-flex justify-content-center">
                <div class="spinner-border text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <ng-container *ngFor="let product of products">
                <app-product-card [product]="product"></app-product-card>
            </ng-container>
      </div>
    </div>

</article>