<form class="form-group w-100 ">
    <div class="input-group  m-0">
            <select class=" input-group-prepend col-4 m-0 p-0 form-control radius-r0" id="filterSearch" required>
                <option value="1">Productos</option>
                <option value="2">Tiendas</option>
                <option value="3">Ordenadores</option>
                <option value="4">Móviles</option>
            </select>
        <input type="search" class="form-control radius-0 col-6 col-md-7 m-0 p-0" placeholder="Buscar">
        <button class="input-group-append col-2 col-md-1 btn btn-outline-secondary form-control" type="button">
            <div><img src="assets/icons/search.svg"></div>
        </button>
    </div>
</form>