<form #searchForm class="form-group w-100" (ngSubmit)="onSubmit()">
    <div class="input-group  m-0">
        <select class=" input-group-prepend col-4 m-0 p-0 form-control radius-r0" id="filterSearch"
        [(ngModel)]="search.filter" name="filter" #filter="ngModel" required>
            <option value="Producto">Productos</option>
            <option value="Tienda">Tiendas</option>
            <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
        </select>
        <input type="search" class="form-control radius-0 col-6 col-md-7 m-0 p-0" placeholder="Buscar"
        [(ngModel)]="search.term" name="term" #term="ngModel">
        <button class="input-group-append col-2 col-md-1 btn btn-outline-secondary form-control" type="submit">
            <div><img src="assets/icons/search.svg"></div>
        </button>
    </div>
</form>