<section class="container-fluid d-flex justify-content-center">
  <div class="row m-0 p-0">
    <div  class="card col-12 col-md-8 col-lg-6 mx-auto px-0 my-5">
      <div class="card-header text-center w-100 mx-0 px-0">
          <h3 class="my-2">Contacta con nosotros</h3>
          <p>Nuestro equipo tiene en cuenta todas las dudas y recomendaciones relacionadas con el sitio web. </p>
      </div>
      <div class="card-body">
          <div *ngIf="messageOk" class="alert alert-success alert-dismissible fade show col-md-12" role="alert">
            ¡Tu mensaje se ha enviado! Nuestro equipo te atenderá lo antes posible.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf="messageError" class="alert alert-danger alert-dismissible fade show" role="alert">
            No se han podido guardar los cambios, si el problema persiste <a routerLink="/informar">contacta con nosotros</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <!-- <div class="form-group">
            <label for="name">Nombre *</label>
            <input type="text" name="name" id="name" class="form-control" required>
          </div> -->
          <div class="form-group">
            <label for="email">Email *</label>
            <input name="email" formControlName="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" id="email" placeholder="micorreo@email.com" required>
            <div *ngIf="emailError" class="alert alert-danger" role="alert">
              Inserta tu correo electrónico válido para poder enviar el formulario.
            </div>  
          </div>
          <div class="form-group">
            <label for="message">Mensaje *</label>
            <textarea name="message" formControlName="message" class="form-control" id="message" rows="3" required></textarea>
          </div>
          <div class="m-1">
            * Campos obligatorios
          </div>
          <button type="submit" class="btn btn-primary mt-1">Enviar</button>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-7 mx-auto text-center mb-3">
      <h3>Desde Ach<img class="align-center" alt="Logo Minimalista de Acho Market" src="/assets/images/ach-yellow.png" width="5%"> Market te damos las gracias por ayudarnos a hacer de nuestro sitio un lugar mejor. </h3>
    </div>
  </div> 
</section>
  