<section>
    <div class="product">
    <div class="section-header container-fluid pl-5">
        <h1 class="row ">La tienda de Fernado</h1>
    </div>
    </div>
    <div class="row" style="margin: auto 10%;">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-lg-11  m-0 p-0">
                    <div class="row" style="margin:0; padding:10px;">
                        <img src="assets/images/limon-eco.jpg" style="width:100%;">
                    </div>
                    <div class="row m-0 p-0" >
                        <div class="col-4" style="margin:0; padding:10px;" >
                            <img src="assets/images/AchoM2.png" style="width:100%;">
                        </div>
                        <div class="col-4"  style="margin:0; padding:10px;">
                            <img src="assets/images/limon-eco.jpg" style="width:100%;">
                        </div>
                        <div class="col-4" style="margin:0; padding:10px;">
                            <img src="assets/images/AchoM2.png" style="width:100%;">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-1  m-0 p-0">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-1-lg  m-0 p-0">
                </div>
                <div class="col-12 col-11-lg" style="margin:0;padding:10px;">
                    <div class="product">
                        <div>
                            <h3>Descripción de la tienda</h3>
                        </div
                    ></div>
                    <p>
                        No funciona pero debería funcionar ¿Tú quién eres? estamos en el mundo de los objetos carai brait magia magia idi idi apeich urrel bueno, ya lo vemos después de clase dejádme solo hairen ¿Tú quién eres? la culpa es de Juanjo ¿Hay alguien ahí? pipol in mit dejádme solo fúrbol mi mujer me dice lo mismo... 
                    </p>
                    <p>
                        mis amantes tambien lo vi, lo hice y lo entendí void hairen dejádme solo pi ich pi estamos en segundo, señores esto no sirve pa na pero yo os lo enseño bueno, ya lo vemos después de clase mi mujer me dice lo mismo... mis amantes tambien pipol in mit samit ¿Tú quién eres? wat japen any diude? trabajador de HP.
                    </p>
                    <div class="product">
                        <div >
                            <div class="row">
                                <h4 class="col"> 3.76
                                    <span>
                                        <img src="assets/icons/star-fill.svg">
                                        <img src="assets/icons/star-fill.svg">
                                        <img src="assets/icons/star-fill.svg">
                                        <img src="assets/icons/star-half.svg">
                                        <img src="assets/icons/star.svg">
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <h3>Contacto</h3>
                    <p>Teléfono: 696969696</p>
                    <p>Correo electrónico: Fernando</p>
                    <p>Dirección: Fernando</p>
                </div>
            </div>
        </div>
    </div>
    <br>
        <article class="featured-product product">
            <div class="section-header pl-5">
                <h1>Productos Mejor Valorados</h1>
            </div>
            <app-carousel-of-items [carouselId]="'best'"></app-carousel-of-items>
        </article>
        <article class="featured-product product">
           <div class="section-header pl-5 row">
        <h1 class="col-12 col-lg-9">Resultados de la búsqueda: "búsqueda"</h1>
        <form class="col-12 col-lg-3">
            <div class="form-group row">
                <label class="col-4 col-form-label  w-100"for="orderAllProducts">Ordenar</label>
                <select class="col-6 col-md-4 col-lg-8 form-control w-100"id="orderAllProducts">
                    <option value="reciente">Más recientes</option>
                    <option value="antiguo">Más antiguos</option>
                    <option value="mejor">Mejores valoraciones</option>
                    <option value="peor">Peores valoraciones</option>
                </select>
            </div>
        </form>
    </div>
            <div class="container  m-auto row row-cols-2 row-cols-md-3 row-cols-lg-4">
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
                <app-product-card></app-product-card>
          </div>
        </article>
    <br>
</section>
