<div class="featured-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Formulario de registro</h1>
        </div>
    </div>
    </div>
<form method="POST" action="http://localhost:8000/user/create">
    <div class="login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">    
                    <div class="register-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nombre</label>
                                <input name="nombre" class="form-control" type="text">
                            </div>
                            <div class="col-md-6">
                                <label>Apellidos</label>
                                <input name="apellidos" class="form-control" type="text">
                            </div>
                            <div class="col-md-6">
                                <label>E-mail</label>
                                <input name="email" class="form-control" type="text">
                            </div>
                            <div class="col-md-6">
                                <label>Móvil</label>
                                <input name="movil" class="form-control" type="text">
                            </div>
                            <div class="col-md-6">
                                <label>Contraseña</label>
                                <input name="password" class="form-control" type="text">
                            </div>
                            <div class="col-md-6">
                                <label>Repita contraseña</label>
                                <input name="password2" class="form-control" type="text">
                            </div>
                            <div class="col-md-12">
                                <button class="btn" type="submit">Registrarse</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>