<div class="my-account featured-product product">
  <div class="section-header container-fluid pl-5">
      <div class="row align-items-end"> 
          <div class="col-12"><h1 class="row ">&nbsp;Registro de Cliente</h1></div>
      </div>
      
  </div>
  </div>
<div class="container">
<div class="row">
  <div class="col-md-2 col-lg-3"></div>
<form (ngSubmit)="onSubmit()"
#clientForm="ngForm" class="col-12 col-md-8 col-lg-6 mb-3 needs-validation" [formGroup]="userForm" novalidate>
  
  <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" class="form-control" required
        formControlName="name">
        <div class="invalid-feedback" *ngIf="userForm.get('name').hasError('required')">
          Error, no has introducido el nombre
        </div>
    </div>
    <div class="form-group">
      <label for="address">Dirección</label>
      <input type="text" name="address" id ="address" class="form-control" required
        formControlName="address">
        <div class="invalid-feedback" *ngIf="userForm.get('address').hasError('required')">
          Error, no has introducido la direccion
        </div>
    </div>
    <div class="form-group">
      <label for="tlf">Teléfono</label>
      <input type="tel" name="tlf" id="tlf" class="form-control" required
        formControlName="tlf">
        <div class="invalid-feedback" *ngIf="userForm.get('tlf').hasError('required')">
          Error, no has introducido el telefono
        </div>
    </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="micorreo@mail.com" required
          formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
          <div class="invalid-feedback" *ngIf="userForm.get('email').hasError('required'); else emailBad">
            Error, no has introducido el email
          </div>
          <ng-template #emailBad>
            <div class="invalid-feedback" *ngIf="userForm.get('email').hasError('pattern')">
              Error, no has introducido el email correctamente
            </div>
          </ng-template>
      </div>

      <div class="form-group">
        <label for="profile_img">Seleccione imagen de perfil</label>
        <input type="file" class="form-control-file" id="profile_img" name="profile_img"
         formControlName="profile_img">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" required
          formControlName="password" pattern=".{8,}">
          <div class="invalid-feedback" *ngIf="userForm.get('password').hasError('required'); else passBad">
            Error, no has introducido la contraseña
          </div>
          <ng-template #passBad>
            <div class="invalid-feedback" *ngIf="userForm.get('password').hasError('pattern'); else passRepeat">
              Error, debes seguir el patron contraseña
            </div>
          </ng-template>
          <!-- <ng-template #passRepeat>
            <div class="invalid-feedback">
              Error, contraseña no coincide
            </div>
          </ng-template> -->
        <label for="password2">Repita Contraseña</label>
        <input type="password" class="form-control" id="password2" name="password2" required formControlName="password2" pattern=".{8,}">
        <div class="invalid-feedback" *ngIf="userForm.get('password2').hasError('required'); else passBad2">
          Error, no has introducido la repetición de contraseña
        </div>
        <ng-template #passBad2>
          <div class="invalid-feedback" *ngIf="userForm.get('password2').hasError('pattern')">
            Error, debes seguir el patron contraseña
          </div>
        </ng-template>
        <small class="form-text text-muted">No compartas tu contraseña con terceros.</small>
      </div>
      <div class="form-check form-group">
        <input type="checkbox" class="form-check-input" id="check1" name="check1" formControlName="check1" required>
        <label class="form-check-label" for="check1">Acepto los <a href="">términos y condiciones</a> de la web</label>
        <div class="invalid-feedback" *ngIf="userForm.get('check1').hasError('required')">
          Error, no has aceptado los términos y condiciones
        </div>
      </div>
      <button type="submit"  class="btn btn-primary" style="margin-top:5%;">Registrarse</button>
    
  </form>
</div>

