<!-- Footer Start -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Contacto</h2>
                    <div class="contact-info">
                        <p><i class="bi bi-geo-alt-fill"></i>Calle Maestro Pedro Perez Abadia, 2A, 30100 Espinardo, Murcia</p>
                        <p><i class="bi bi-envelope"></i>achomarket@gmail.com</p>
                        <!-- <p><i class="bi bi-telephone"></i>9668 834 605</p> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Info Web</h2>
                    <ul>
                        <li><a routerLink="/about-us">Quiénes somos</a></li>
                        <li><a routerLink="/terminos">Términos y licencias</a></li>
                        <li><a routerLink="/contacto" routerLinkActive="active">Contacta con nosotros</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Ayuda</h2>
                    <ul>
                        <li><a routerLink="/vender-en-acho-market">Vender en Acho Market</a></li>
                        <li><a routerLink="/faq">F.A.Q.</a></li>
                        <li><a routerLink="/informar">Informar sobre un error</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Nuestras redes</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href="https://www.instagram.com/achomarket_oficial"><i class="bi bi-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCcbxZclNVtA-5l8DQWun5mw
                            "><i class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Plantilla por <a href="https://htmlcodex.com">HTML Codex</a>. CC BY 4.0</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>
