<!-- Footer Start -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Contacto</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>Calle Maestro Pedro Perez Abadia, 2A, 30100 Espinardo, Murcia</p>
                        <p><i class="fa fa-envelope"></i>acho-market@gmail.com</p>
                        <p><i class="fa fa-phone"></i>9668 834 605</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Info Web</h2>
                    <ul>
                        <li><a routerLink="/aboutus">Quiénes somos</a></li>
                        <li><a routerLink="/registro-tienda">Vender en Acho Market</a></li>
                        <li><a routerLink="/terminos">Términos y políticas de uso</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Ayuda</h2>
                    <ul>
                        <li><a href="#">Promociona tus productos</a></li>
                        <li><a href="/faq">F.A.Q.</a></li>
                        <li><a routerLink="/informar">Informar de un error</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Nuestras redes</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>
