<section class="container-fluid m-0 p-0">
    <div class="featured-product product  container-fluid mt-0 pt-0">
      <div class="section-header row align-items-end pl-5 w-100 mx-0">
          <div class="col-10 col-lg-11"><h2 class="row ">Vender en Acho Market</h2></div>
      </div>
    </div>
    <div class="container-xl mt-2 mb-4">
        <p>Hola, si has llegado hasta aquí probablemente estés más que interesado en vender tus productos en AchoMarket. ¡Tenemos un hueco para ti!</p>
        <p>Accede al siguiente enlace para ser parte de Acho Market. <a routerLink="/registro-tienda">Registrarse como  comercio</a>.</p>
        <p>Si tienes alguna duda sobre este proceso o sobre la web, no lo dudes, <a routerLink="contacto">contacta con nosotros</a>. Nuestro equipo te responderá lo más rápido posible.</p>
    <div id="accordion">
        <div class="card" >
          <div class="card-header" id="headingOne">
            <h5 class="mb-0 row" >
              <span class="col-12"><h2>¿Qué necesito para vender en Acho Market?</h2></span>
              <span class="col-10"></span>
              <span class="col-12 col-lg-2">
                <button class="btn btn-secondary w-100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Leer
              </button>
            </span>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
            <p>Para poder vender en Acho Market en primer lugar debes proceder a realizar el registro como Administrador de tienda. En primer lugar se solicitará en el registro tu nombre, NIF, 
              email, una imagen tuya y una contraseña. Después podrás disponer de tu cuenta y nuestro equipo te contactará por email para ofrecerte ayuda con el proceso de creación de página en la web.
            </p>
            </div>
          </div>
        </div>
  
        <div class="card" >
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0 row" >
              <span class="col-12"><h2>¿Que me ofrece Acho Market?</h2></span>
              <span class="col-10"></span>
              <span class="col-12 col-lg-2">
                <button class="btn btn-secondary w-100" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Leer
              </button>
            </span>
            </h5>
          </div>
      
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p>Acho Market es un mercado en línea, dispone de multitud de productos de diferentes categorías donde todos los comercios pueden hacerse hueco. A diferencia de una página web propia en la que sólo hay productos de un comercio concreto, Acho Market atrae al cliente por la variedad de productos que lo completan.</p>
            </div>
          </div>
        </div>
  
        <div class="card" >
          <div class="card-header" id="heading3">
            <h5 class="mb-0 row" >
              <span class="col-12"><h2>Acho Market es mi primera experiencia de comercio online ¿es un método seguro?</h2></span>
              <span class="col-10"></span>
              <span class="col-12 col-lg-2">
                <button class="btn btn-secondary w-100" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                Leer
              </button>
            </span>
            </h5>
          </div>
      
          <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
            <div class="card-body">
              <p>
                Acho Market no comparte la información privada como cuentas bancarias, números de teléfono, emails y contraseñas de sus usuarios con terceros, 
                para proteger estos datos le recomendamos que solo usted tenga acceso ellos, de esta manera su cuenta permanecerá segura.
              </p>
              <p>
                En Acho Market no toleramos las conductas fraudulentas y buscamos siempre la comunicación frente a los problemas, para poder ayudarte siempre puedes acceder a <a routerLink="/contacto">contacto</a>.
              </p> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </section>