<div *ngIf="authorized; else unauthorized" class="list-group container-md mx-auto p-0">
    <ng-container *ngIf="cart.length; else emptyCart">
        <div class="list-group-item m-0 p-1">
            <div class="row m-0 p-0">
                <h5 class="col-10 my-auto">Productos</h5>
                <h6 class="col-2 my-auto">Unidades</h6>
            </div>
        </div>
        <app-cart-item *ngFor="let item of cart" [product]="item" class="list-group-item m-0 p-0"></app-cart-item>
        <div class="list-group-item m-0 p-0">
            <div class="row m-0 p-1">
                <h5 class="col-5 col-lg-6 my-auto">Total</h5>
                <h6 class="col-4 my-auto mx-0 pl-1">{{price| number:'1.2-2'}} €</h6>
                <input class="col-3 col-lg-2 form-control btn btn-primary text-light my-auto" type="submit" value="Comprar">
            </div>
        </div>
    </ng-container>
    <ng-template #emptyCart>
        <div class="alert alert-primary" role="alert">
            Añade un producto al carrito para empezar a comprar. 
        </div>
    </ng-template>
</div>
<ng-template #unauthorized>
    <div class="alert alert-warning" role="alert">
        Para comprar en la web debes <a routerLink="login">iniciar sesión como cliente</a>. También puedes <a routerLink="/registro">registrarte</a> para disfrutar de la experiencia Acho Market 
    </div>
</ng-template>