<div class="my-account featured-product product">
    <div class="section-header container-fluid pl-5">
        <div class="row align-items-end">
           
            <div class="col-12"><h1 class="row ">&nbsp;Contacto</h1></div>
        </div>
    </div>
</div>
<p style="margin-left: auto;margin-right: auto;width:90%;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
     irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  <form style="margin-left: auto;margin-right: auto;width:30%;">
    <div class="form-group">
        <label for="nombre">Nombre *</label>
        <input type="text" name="nombre" id="nombre" class="form-control" required>
      </div>
        <div class="form-group">
          <label for="Email">Email *</label>
          <input type="email" class="form-control" name="Email" id="Email" aria-describedby="emailHelp" placeholder="example@mail.com" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Mensaje *</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div style="margin:5px;">
            * Campos obligatorios
          </div>
        <button type="submit" class="btn btn-primary" style="margin-top:5%;">Enviar</button>
    </form>